.u-text-center {
  text-align: center;
}

.u-mt-sml {
  margin-top: 2rem;
}
.u-mt-mid {
  margin-top: 4rem;
}
.u-mt-lg {
  margin-top: 6rem;
}

.u-mb-sml {
  margin-bottom: 2rem;
}
.u-mb-mid {
  margin-bottom: 4rem;
}
.u-mb-lg {
  margin-bottom: 6rem;
}
