//  Font
$default-size: 1.6rem;
$font-display: "Poppins", sans-serif;

// Colors

$black: #212529;
$white: #fff;
$white-2: #f7f8f9;

$gray: #6c757d;
$gray-dark: #343a40;

$primary: #4046b3;
$primary-light: #0d6efd;
$primary-dark: #171940;

$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$purple-2: #a33188;
$pink-2: #e23c8e;
$orange: #fd7e14;
